<button {{ on "click" this.reverse }}>Reverse</button>
<div class="flex-grid-thirds" id="grid" {{ did-insert this.makeDraggable}}>
  {{#each @model as |beer| }}
    <div class="col" draggable="true" {{on "dragend" this.saveState}}>
      <h1>{{ beer.name}}</h1>
      <img src={{ beer.image_url }} alt={{ beer.name}}>
    </div>
  {{/each}}
</div>