<h1>Beers {{model.length}} {{ randomBeers.isRunning }}</h1>
<SearchBeers />
<button {{ action "getBeer"}}>Get Beer</button>
{{#if randomBeer }}
  {{ input value=interval }}
  <RandomBeer @beer={{ randomBeer }} @task={{randomBeers}} @interval={{ interval }} />
{{/if}}
<BeerList @model={{model}} />